{% extends "base.html" %}
{% block title %}
Contact AD
{% endblock title %}
{% block content %}
<h1>Contact Me:</h1>
    <ul>
        <div>adamdaniel2801@gmail.com</div>
        <div>09123456789</div>
        <div>
            <a href="https://github.com/AzarconAD">GitHub</a>
        </div>
        <div>
            <a href="https://www.linkedin.com/in/adam-daniel-azarcon-009605369">LinkedIn</a>
        </div>
        <div>
            <a href="https://www.facebook.com/ad.azrcn">Facebook</a>
        </div>
    </ul>
   
{% endblock content %}