{% extends "base.html" %}
{% block title %}
Home
{% endblock title %}
{% block content %}
<section class="home-section">
    <div class="home-header">
        <h1>Hello, I am Adam Daniel</h1>
        <p>Computer Engineering Student</p>
    </div>

    <div class="home-content">
        <p>I am a Computer Engineering student who aims to create technologies that improve human lives.</p>
        <p>I focus on building systems and computers that combine efficiency and innovation. My interests include Artificial Intelligence, machine learning, and hardware design.</p>
        <p>I enjoy designing websites, learning new programming languages, and exploring how computers shape the future of technology.</p>
        <p>Outside of academics, I like working on personal projects that challenge my creativity and problem-solving skills.</p>
    </div>
</section>
{% endblock content %}